#.obsidian/
.trash/
.obsidian/plugins/obsidian-activity-history/
.obsidian/workspace*
.obsidian/community-plugins.s*


# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections